<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>controller.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EventP</servlet-name>
        <servlet-class>controller.EventP</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteSeverlet</servlet-name>
        <servlet-class>controller.DeleteSeverlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>controller.LogoutSeverlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Chatservlet</servlet-name>
        <servlet-class>controller.Chatservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountsServlet</servlet-name>
        <servlet-class>controller.AccountsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MemberSevlet</servlet-name>
        <servlet-class>controller.MemberSevlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClubSeverlet</servlet-name>
        <servlet-class>controller.ClubSeverlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReEventSeverlet</servlet-name>
        <servlet-class>controller.ReEventSeverlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>processRequest</servlet-name>
        <servlet-class>controller.processRequest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>uploadImage</servlet-name>
        <servlet-class>controller.uploadImageSeverlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewImage</servlet-name>
        <servlet-class>controller.viewImage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>acceptSeverlet</servlet-name>
        <servlet-class>controller.acceptSeverlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Mail</servlet-name>
        <servlet-class>controller.Mail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addReports</servlet-name>
        <servlet-class>controller.addReports</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewReport</servlet-name>
        <servlet-class>controller.viewReport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteEventSeverlet</servlet-name>
        <servlet-class>controller.DeleteEventSeverlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateRoleSeverlet</servlet-name>
        <servlet-class>controller.UpdateRoleSeverlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>forgotSeverlet</servlet-name>
        <servlet-class>controller.forgotSeverlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteReport</servlet-name>
        <servlet-class>controller.deleteReport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addUserInClubSeverlet</servlet-name>
        <servlet-class>controller.addUserInClubSeverlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>about</servlet-name>
        <servlet-class>controller.about</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EventP</servlet-name>
        <url-pattern>/EventP</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteSeverlet</servlet-name>
        <url-pattern>/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Chatservlet</servlet-name>
        <url-pattern>/chat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountsServlet</servlet-name>
        <url-pattern>/Accounts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MemberSevlet</servlet-name>
        <url-pattern>/member</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClubSeverlet</servlet-name>
        <url-pattern>/club</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReEventSeverlet</servlet-name>
        <url-pattern>/reevent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>processRequest</servlet-name>
        <url-pattern>/processRequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>uploadImage</servlet-name>
        <url-pattern>/uploadImage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewImage</servlet-name>
        <url-pattern>/viewImage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>acceptSeverlet</servlet-name>
        <url-pattern>/accept</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Mail</servlet-name>
        <url-pattern>/SendingEmail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addReports</servlet-name>
        <url-pattern>/addReport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewReport</servlet-name>
        <url-pattern>/viewReport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteEventSeverlet</servlet-name>
        <url-pattern>/DeleteEvent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateRoleSeverlet</servlet-name>
        <url-pattern>/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>forgotSeverlet</servlet-name>
        <url-pattern>/forgot</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteReport</servlet-name>
        <url-pattern>/deleteReport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addUserInClubSeverlet</servlet-name>
        <url-pattern>/addUserInClub</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>about</servlet-name>
        <url-pattern>/about</url-pattern>
    </servlet-mapping>
</web-app>
